*{
    padding: 0;
    margin: 0;
}
.bg-gray{
    background-color: gray;
    height: 80px;
}
#ourmenu h1{
    text-align: center;
}
.container-fluid h1{
    
    background-color: gray;
}

#no-padding h1{
    padding: 20px;
    margin: 0;
    margin-left: 0;
}

.col-xs-12{
    background-color: gray;
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;

}

@media (min-width:992px){
    #hidden1, #hidden2, #hidden3{
       visibility: hidden;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    #hidden4{
        visibility: hidden;
    }
}

@media (max-width: 767px)
{
    
}